/workshops/venv/
/docs/systemes.md
/game/js/
/game/python/
/game/svg/IMG_1557.PNG
/game/svg/IMG_1557.svg
/game/svg/IMG_1558.PNG
/game/svg/IMG_1558.svg
/game/svg/IMG_1775.png
/game/svg/IMG_1945.png
/game/svg/IMG_1945.svg
/game/svg/tamagoshi.svg
/game/svg/*.afdesign